# Binaries
main
main.exe
*.exe
*.dll
*.so
*.dylib
tmp/*

# Environments
.env
.env.local
.env.*.local

# Logs
*.log
server.log

# Dependencies
# vendor/

# IDEs
.idea/
.vscode/
.claude
*.swp
*.swo
*.code-workspace

# OS files
.DS_Store
Thumbs.db
uploads/